h1{
    color: purple;
    text-align: center;
}
h2{
    color: brown;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
h3{
  font-style: italic; 
}
strong{
    font-style: italic;
}
em {
    font-weight: bold;
}
body {
    font-family: fantasy;
}
.text-box {
    border: 2px solid red;
}
.bahamas {
    width: 40%;
    height: 40%;
    padding: 2cm;
    margin: 2cm;
    background-color: blueviolet;
}
.hawai {
    width: 40%;
    height: 40%;
    padding: 2cm;
    margin:2cm;
}
.header {
    text-align: center;
}
.main {
    text-align: center;
    text-decoration: wavy;
}