h1{
    color: purple;
    text-align: center;
}
h2{
    color: brown;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
h3{
  font-style: italic; 
}
strong{
    font-style: italic;
}
em{
    font-weight: bold;
}
.tropical {
    font-style: italic;
}
body{
    font-family: fantasy;
}
.one {
    font-size: small;
}
